body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: slategray;
}

#timerDisplay {
    border: solid rebeccapurple;
    font-size: 100px;
}

#roundCountDisplay {
    border: solid goldenrod;
    font-size: 100px;
}

.meat {
    border: solid green;
    display: flex;
    justify-content: center;
}



#body-selector-container {
    border: solid skyblue;
    display: flex;
    justify-content: center;
}

#legs {
    border: solid wheat;
}

#abs {
    border: solid darkblue;
}

#arms {
    border: solid peru;
}

#random {
    border: solid sienna;
}

#workout-display {
    font-size: 100px;
}